.hqSidebar{
    position: fixed;
    right: 0;
    top: 0;
    width: 10vw;
    height: 101vh;
    z-index: 220;
    -webkit-transition: width 200ms;
    -moz-transition: width 200ms;
    -ms-transition: width 200ms;
    -o-transition: width 200ms;
    transition: width 200ms;
}

 .sidebarItem{
    transition: all ease 1s !important;
}


/*mediumspringgreen*/